flask
gunicorn
cryptography
flask-socketio
eventlet==0.30.2
Flask-Failsafe
mysql-connector-python
requests
fastapi
uvicorn
apache-airflow
pytest
google-api-python-client>=1.7.12
google-cloud-storage
sqlalchemy
flask-cors
flask_sqlalchemy
functions-framework==3.*
pymysql
google.analytics
google-analytics-data